@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;

}
body{
    font-size: 16px;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero .hero_title {
    width: 369px;
    height: 398px;
    position: relative;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;

}
 h1{
   position: absolute;
   font-size: 32px;
   left: 20px;
   bottom: 100px;
   color: white;
}
h3{
    font-size: 24px;
    padding: 10px 1px;
}
p{
    padding-bottom: 30px ;
}
button{
    position: absolute;
    padding: 10px;
    bottom:50px ;
    left: 20px;
}
form{
    width: 360px;
    height: 459;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}
input[type=email]{
    padding: 10px 12px;
}
input[type=password]{
    padding: 10px 12px;
}
input[type=button]{
    padding:10px 12px;
    background: #1E1E1E;
    color: white;
}


/* desktop device */
@media (min-width:1224px) {
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero .hero_title{
    width: 90%;
    height: 100%;
    background-color: aquamarine;
    background-image: url(./assets/hero-desk.png);
    background-size: cover;   
    background-repeat: no-repeat;
}

form {
    width: 50%;
    height: 150%;
    margin: 100px;
}

h1{
    font-size: 53px;
}

h3{
    font-size: 30px;
}
}